.App {
  text-align: left;
  
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    border-radius: 70px;
  }
}

.App-header {
  background-color: #0d5cf9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

.gameBackground {
  background-image: url('../public/assets/images/sky.png');
  min-width: 800px;
  min-height: 500px;
  display: flex;
  position: absolute  ;
  opacity: 50%;
  z-index: -1;
  flex-direction: column;
  margin-left: 100px;
  animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0  ;
  }
  to {
    background-position:  365% 0;
  }
}


h1 {
  font-size: large;
  text-align: center;
}

.Cherry {

  position: absolute  ;
  height: 128px;
  width: 128px;
  margin-left: 100px;
  animation: rotation 5s infinite linear;

}  

@keyframes rotation {
  25% {
    transform: rotate(25deg);
  }
  45% {
    transform: rotate(45deg);
  }
}

.Cloud {
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 1; 
  animation: moveCloud 5s linear infinite;
}

.Lilly {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-top: 30px;
  position: absolute;
  opacity: 1; 
  animation: moveCloud 5s linear infinite;
}

@keyframes moveCloud {
  from {
    right: -50px;  
  }
  to {
    right: 100%;  
  }
}



.container {
  display: flex;
  justify-content: space-around;
}



